@import "./fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
}

#app {
  max-width: 500px;
  margin: 0 auto;
}

body {
  color: #fff;
  background: #090327;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.p-tooltip-text {
  padding: 5px;
  display: block;
  font-size: 10px;
}