@import "./fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
}

#app {
  max-width: 500px;
  margin: 0 auto;
}

body {
  color: #fff;
  background: #090327;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.button-pink {
  width: 100%;
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-weight: 700;
  background: #B282FA;
  border-radius: 12px;
}

.p-tooltip-text {
  padding: 5px;
  display: block;
  font-size: 10px;
}
.p-progressbar {
  background: #090327;
  border: 0.5px solid #9C9E9B;
  height: 8px;
  border-radius: 12px;

  .p-progressbar-value {
    background: #B282FA;
  }
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.81px;
  text-align: left;
  color: #fff;
}

.subtitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
}

.small-card {
  background: #26154A;
  padding: 8px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  align-items: center;

  &-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-name {
    padding-bottom: 5px;
  }
  &-prize {
    display: flex;
    align-items: center;
    gap: 5px;

    img {
      padding-right: 10px;
      width: 22px;
    }
  }
  i {
    padding-right: 10px;
  }
}

.bold {
  font-weight: 700
}