@tailwind base;
@tailwind components;
@tailwind utilities;
@import "fonts";
@import "primevue";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
}

#app {
  max-width: 500px;
  margin: 0 auto;
}

body {
  color: #fff;
  background: #090327;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  width: 100%;
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-weight: 700;
  background: #B282FA;
  border-radius: 12px;
}

.pink-content {
  box-shadow: 0 -12px 20px 0 #B686FF1F;
  background: #170327;
  border-radius: 20px 20px 0 0;
  padding: 16px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.81px;
  text-align: left;
  color: #fff;
}

.modal-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.71px;
  text-align: center;
  color: #fff;
  padding-bottom: 5px;
}

.subtitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
}

.small-card {
  background: #26154A;
  padding: 8px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  align-items: center;

  &-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-name {
    padding-bottom: 5px;
  }
  &-prize {
    display: flex;
    align-items: center;
    gap: 5px;

    img {
      padding-right: 5px;
      width: 22px;
    }
  }
  i {
    padding-right: 10px;
  }
}

.bold {
  font-weight: 700
}

.grey {
  color: #9C9E9B;
}

.ping {
  color: #B282FA;
}

.input {
  border-radius: 8px;
  padding: 10.5px 8px;
  width: 100%;
  color: #9C9E9B;
  font-size: 16px;
  border: 1px solid #26154A;
  background: transparent;
  text-align: center;
}