@tailwind base;
@tailwind components;
@tailwind utilities;
@import "fonts";
@import "primevue";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
}

#app {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 20px;
  width: 100%;
  overflow: hidden;
}

body {
  color: #fff;
  min-height: 100vh;
  background: #090327;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  width: 100%;
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-weight: 700;
  background: #B282FA;
  border: 1px solid #B282FA;
  border-radius: 12px;
  transition: .3s;

  &:hover {
    color: #B282FA;
    background: transparent;
  }
  @media (max-width: 320px) {
    padding: 8px 16px;
    font-size: 14px;
  }
}

.pink-content {
  box-shadow: 0 -12px 20px 0 #B686FF1F;
  background: #170327;
  border-radius: 20px 20px 0 0;
  padding: 16px 16px 90px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.71px;
  text-align: center;
}
.subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.81px;
  text-align: left;
  color: #fff;
}
.text {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
}

.small-card {
  cursor: pointer;
  background: #26154A;
  padding: 8px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  align-items: center;

  &-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-name {
    padding-bottom: 5px;
  }
  &-prize {
    display: flex;
    align-items: center;
    gap: 5px;

    img {
      padding-right: 5px;
      width: 22px;
    }
  }
  i {
    color: #9C9E9B;
    padding-right: 10px;
  }
}

.bold {
  font-weight: 700
}

.grey {
  color: #9C9E9B;
}

.pink {
  color: #B282FA;
}

.input {
  border-radius: 8px;
  padding: 10.5px 8px;
  width: 100%;
  color: #9C9E9B;
  font-size: 16px;
  border: 1px solid #26154A;
  background: transparent;
  text-align: center;

  &.error {
    border: 1px solid #7953ca;
  }
}

.notfound {
  background: #1E072F;
  border-radius: 12px;
  text-align: center;
  padding: 30px 10px;
  color: #9C9E9B;
  font-size: 12px;
}