.p-tooltip-text {
  padding: 5px;
  display: block;
  font-size: 10px;
}
.p-progressbar {
  background: #090327;
  border: 0.5px solid #9C9E9B;
  height: 8px;
  border-radius: 12px;

  .p-progressbar-value {
    background: #B282FA;
  }
}
.p-sidebar {
  box-shadow: 0px -12px 20px 0px #B686FF1F;
  background: #170327;
  padding: 16px;
  color: #fff;
  border: none;
  text-align: center;

  &-close {
    margin-left: auto;
    color: #fff;
    outline-color: #B282FA;
  }

  .coin-quantity {
    margin-bottom: 10px;

    h1 {
      font-size: 32px;
    }
  }

  .modal-hint {
    color: #FAFAFA;
    font-size: 12px;
    padding: 12px 24px;
    width: 100%;
    background: #090327;
    border-radius: 8px;
    margin: 10px 0
  }
}
.p-tabmenu-nav {
  background: #090327;
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .p-tabmenuitem {
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
    padding: 4px;
    a {
      background: transparent;
      font-size: 12px;
      font-weight: 700;
      display: flex;
      justify-content: center;
    }
    &.p-highlight {
      background: #26154A;
    }
  }
  .p-tabmenu-ink-bar {
    display: none;
  }
}